<h1>Użytkownicy</h1>


<!--<table class="table table-striped table-light table-bordered">-->
<!--  <thead class=thead-dark>-->
<!--  <tr>-->
<!--    <th>Login</th>-->
<!--    <th>Imię</th>-->
<!--    <th>Nazwisko</th>-->
<!--    <th>Email</th>-->
<!--    <th>Akcja</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let user of users">-->
<!--    <td> {{user.login}}</td>-->
<!--    <td> {{user.firstName}}</td>-->
<!--    <td> {{user.lastName}}</td>-->
<!--    <td> {{user.email}}</td>-->
<!--&lt;!&ndash;    <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>&ndash;&gt;-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
